/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-post-category-color {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.blue {
    background: #8888f4;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
}
.green{
	background: #15e932;
	padding: 5px;
	box-sizing: border-box;
	color: #000;
}
.green.wp-block p, .blue.wp-block p {
    margin: 0.5em;
}